.ulsearch-nav {
    right: 9%;
    width: 255px;
    z-index: 2;
}

.bookSearchIteam {
    height: 5rem;
    display: block;
    cursor: pointer;
    .two-line {
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        //text-overflow: ellipsis;
    }
}

.bookSearchIteam:hover {
    background-color: #f5e5ee;

}





